


/*@media only screen and (min-width: 768px) {
    .navbar-custom {
        background-color: rgba(255,255,255,0.3);
        border-bottom: 1px solid transparent;
    }

    .navbar-custom .navbar-brand {
        color: #fff;
        padding: 15px;
    }

    .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
        color: rgba(255,255,255,0.8);
    }

    .navbar-custom .nav li a {
        color: #fff;
        padding: 15px;
    }

    .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
        color: rgba(255,255,255,0.8);
    }
}*/