<div ng-controller="RecipeViewerController">

    <h1>
        CannyKitchen
    </h1>
    <span ng-if="!recipes.length">
        <p>
            Hmmm, it seems that you haven't a meal plan yet. Clicking below can remedy that!
        </p>
        <br />
    </span>

    <div ng-if="recipes.length">
        <form method="post" action="/savedmeals">
            <div class="recipes-container table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th ng-repeat="recipe in recipes">{{ dates[$index] }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="recipe in recipes">
                                <!-- <div class="well" style="margin-right: 2px;">
                                    Day {{ $index }}
                                </div> -->
                                <!-- <div class="well" style="height: auto; margin-top: -19px; margin-right: 2px;">  -->
                                <img class="recipe-thumbnail" ng-src="{{ recipe.image }}"/>
                                <br />
                                <a href="{{ recipe.url || '#' }}"> {{ recipe.name }} </a>
                                <input type="hidden" name="recipename[]" value="{{ recipe.name }}">
                                <input type="hidden" name="recipeurl[]" value="{{ recipe.url }}">
                                <input type="hidden" name="recipeingr[]" value="{{ recipe.ingredients }}">

                                <div ng-if="recipes.length" class="recipes-container">

                                <ul>
                            		<li ng-repeat="ingredient in recipe.ingredients track by $index">{{ ingredient }}</li>
                                </ul>
                                <!-- </div> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p ng-if="!user">
                <button class="btn btn-default disabled">Save Meal Plan</button> <a href="/login">Login/Register to save meal plans!</a> 
            </p>
            <p ng-if="user">
                <button type="submit" class="btn btn-default">Save Meal Plan</button>
            </p>
        </form>
    </div>

    <p class="input-group" style="width: 20%;">
        <input type="text"
               class="form-control"
               datepicker-popup="{{format}}"
               ng-model="dateStart"
               is-open="startOpened"
               min-date="minDate"
               max-date="'2015-06-22'"
               datepicker-options="dateOptions"
               ng-required="true"
               close-text="Close" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </p>

    <p class="input-group" style="width: 20%;">
        <input type="text"
               class="form-control"
               datepicker-popup="{{format}}"
               ng-model="dateEnd"
               is-open="endOpened"
               min-date="minDate"
               max-date="'2015-06-22'"
               datepicker-options="dateOptions"
               ng-required="true"
               close-text="Close" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </p>

    <a class="btn btn-default" ng-click="fetchRecipes()">Generate Meal Plan!</a>
</div>